;; shadow-cljs configuration
{:source-paths
 ["dev"
  "src"]

 :dependencies
 [[garden "1.3.10"]]

 :dev-http {3000 "public"}
 :builds
 {:dev
  {:target :browser
   :modules {:main {:init-fn demo.core/init!}}}}}
