;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/dev"]

 :dependencies
 [[garden "1.3.10"]]

 :dev-http {3000 "public"}
 :builds
 {:demo
  {:target :browser
   :modules {:main {:init-fn demo.core/init!}}}}}
